body{
	background: url(../img/table.jpg) no-repeat;
	background-size: 100%;
	margin: 0px;
	padding: 0px;
}


.main_block{
	margin-top: 50px;
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
	overflow: hidden;
    
}
.notebook{
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: relative;
	border: 10px solid rgb(167, 222,155);
	border-radius: 2%;
	width:1004px;
	background: white;
	
}
.CenterLine::before{
	content: "";
	display: block;
	position: absolute;
	top: -10px;
	right: 49.8%;
	height: 600px;
	z-index: 110;
	box-shadow: 0px 1px 15px 5px rgba(0,0,0,0.47);

}


.notebook_page{
	/*background: url(../img/harbour.png) no-repeat;*/
	background-position: center center;
	background-size: cover;
   width: 502px;
   height: 494px;
	box-sizing: border-box;	
	display:flex;
	position: relative;
}

.letter_line ul, .letter_line2 ul {
	list-style-type: none;
	height: 335px;
	width: 35px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: right;
	font-family: 'Fredericka the Great', cursive;
	font-style: italic;
	font-size: 20px;
	font-weight: bold;
	color: rgba(89, 43, 194, 0.9);
	margin: 0px;
	padding: 0px;
}

.letter_line ul{
	position: absolute;
	left: 12%;
	top:26%;
}

.letter_line2 ul{
	position: absolute;
	left: -1.5%;
	top: 26%;
}

.number_line ul, .number_line2 ul{
	list-style-type: none;
	display: flex;
	justify-content: space-around;
   font-family: 'Fredericka the Great', cursive;
	font-size: 20px;
	margin: 0px;
	padding: 0px;
	font-weight: bold;
	color: rgba(89, 43, 194, 0.9);
	font-style: italic;

}
.number_line ul{
	position: absolute;
	top: 20%;
	left: 21%;
	width: 364px;
}
.number_line2 ul{
	position: absolute;
	top: 20%;
	right: 21%;
	width: 364px;
}

.field{
	width: 100%;
   height: 100%;
	box-sizing: border-box;
	background: rgb(197, 220, 225);

}

.RedLine::after{
	display: block;
   height: 100%;
   content: '';
   position: absolute;
   border-left: 2.4px solid red;
   top:0%;
   left: 14%; 
 }
 .RedLine2::after{
	display: block;
   height: 100%;
   content: '';
   position: absolute;
   border-left: 2.4px solid red;
   top:0%;
   right: 14%; 
 }

 .border::after{
 	width: 356px;
 	height: 330px;
	content: " ";
	display: block;
	position: absolute;
	border: 3px solid rgba(89, 43, 194, 0.9);
	top: 25.7%;
	left: 21%; 

 }

 .border2::after{
 	width: 356px;
 	height: 330px;
	content: " ";
	display: block;
	position: absolute;
	border: 3px solid rgba(89, 43, 194, 0.9);
	top: 25.7%;
	right: 21%; 
 }

td{
	background: rgb(255, 255, 255);
}

#toplineYouMove{
	width: 340px;
	display: block;
	position: absolute;
	top: 37px;
	left: 45%;
	font-family: 'Marck Script', cursive;
	font-size: 30px;
	color: black;
	opacity: 0;/*Элемент полностью прозрачный (невидимый)*/
	transition: .1s; /*Скорость перехода состояния элемента*/
	animation: show .7s 1; /* Указываем название анимации, её время и количество повторов*/
	animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
	animation-delay: .1s; /* Задержка перед началом */
}

#toplineYouMove::before{
	content: "";
	display: block;
	position: absolute;
	top: 12px;
	width: 250px;
	right:42%;
	box-shadow: -10px 10px 42px 10px rgba(18,77,255,0.9);
	opacity: 0;/*Элемент полностью прозрачный (невидимый)*/
	transition: 1s; /*Скорость перехода состояния элемента*/
	animation: show 1s 1; /* Указываем название анимации, её время и количество повторов*/
	animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
	animation-delay: .1s; /* Задержка перед началом */

}
#toplineRemove{
	display: none;
}


#toplineComputerMove{
	width: 340px;
	display: block;
	position: absolute;
	top: 37px;
	right: 10%;
	font-family: 'Marck Script', cursive;
	font-size: 30px;
	color: black;
	opacity: 0;/*Элемент полностью прозрачный (невидимый)*/
	transition: 1s; /*Скорость перехода состояния элемента*/
	animation: show 1s 1; /* Указываем название анимации, её время и количество повторов*/
	animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
	animation-delay: .1s; /* Задержка перед началом */
}
#toplineComputerMove::before{
	content: "";
	display: block;
	position: absolute;
	top: 12px;
	width: 250px;
	right:35%;
	box-shadow: 0px 10px 42px 10px rgba(255,8,0,0.9);
	opacity: 0;/*Элемент полностью прозрачный (невидимый)*/
	transition: 1s; /*Скорость перехода состояния элемента*/
	animation: show 1s 1; /* Указываем название анимации, её время и количество повторов*/
	animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
	animation-delay: .1s; /* Задержка перед началом */
}

@keyframes show{ /**ПЕРЕМЕСТИТЬ ПОТОМ В ОТДЕЛЬНЫЙ ФАЙЛ**/	
	0%{
	opacity:0;
	}
	100% {
	opacity:1;
	}
	}




/**==============Window WIN=====================*/
.Window{
	display: none;
}
.FullWindow{
	width: 400px;
	height: 400px;
	border: 3px solid black;
   position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	top: 15%;
	left: 35%;
	right: 35%;
	background: rgba(250,250,250, 0.9);	
}
.heading{
	text-align: center;
}

.list_Win{	
	width: 160px;
	list-style-type: none;
	margin: 0 auto;
	padding: 0px;
}

.list_Win li{
	border-bottom: 1px solid black;
}

.box_button_new_game{
	display: flex;
	justify-content: center;
}
.button_game_start{
	height: 40px;
	width: 150px;
}

/**=================Window False=============**/

.WindowFalse{
	display: none;
}

.WindowFalseDisplay{
	
	width: 600px;
	height: 550px;
	position: absolute;
	top: 10%;
    right: 28%;
	display: flex;
	justify-content: center;

	
}
.WindowFalse_box_message{
   width: 270px;
   height: 300px;
	box-sizing: border-box;
	background: url(../img/notebook.jpg);
	box-shadow: -1px 2px 33px 5px rgba(0,0,0,0.75);
	border: 7px solid rgb(167, 222,155);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	
}

.WidowFalse_box_Image img{
	width: 200px;
	height: 320px;
	position: absolute;
	bottom: 0%;
	right: 2%;
}


.MessageFalse{
	width: 100%;
	height: 60%;
   text-align: center;
	display: flex;
	align-items: center;
   font-family: 'Caveat', cursive;
	font-size: 27px;
	color: red;
}


.box_button_continue{
	float: right;
	box-sizing: border-box;
	width: 55px;
	position: relative;
	margin: 0px 20px 51px 0px;
}

.box_button_continue:hover::after{
   position:absolute;
   bottom: 1px;
   right: -9px;
   width: 60px;
   content: " ";
   border-bottom: 3px solid red;
   transform:rotate(-10deg);
	
}

.button_continue{
	border: none;
	color: rgba(89, 43, 194, 0.9);
	background: rgb(255, 255, 255, 0.1);
	font-family: 'Caveat', cursive;
	font-size: 52px;
	box-sizing: border-box;
	height: 60px;
	outline: 0;
}
.button_continue:active{
	border: none;
}

/**================= Message ============*/
#MessageArea{
	display:none;
}
#MessageAreaMiss{
	text-align: center;
	font-size: 22px;
	position: absolute;
	top: 35%;
	right: 33%;
	display: block;
	font-size: 90px;
	font-family: 'Orbitron', sans-serif;
   font-family: 'Press Start 2P', cursive;
	letter-spacing: 20px;
	color: blue;
}

#MessageAreaMissComp{
	text-align: center;
	font-size: 22px;
	position: absolute;
	top: 35%;
	right: 33%;
	display: block;
	font-size: 90px;
	font-family: 'Orbitron', sans-serif;
   font-family: 'Press Start 2P', cursive;
	letter-spacing: 20px;
	color: red;
}

#MessageAreaHitComp, #MessageAreaHit{
	font-size: 22px;
	position: absolute;
	top: 40%;
	display: block;
	text-align: center;
   font-size: 90px;
   font-family: 'Press Start 2P', cursive;
	letter-spacing: 20px;
	color: rgba(0,0,0, 1);
	width: 1000px;
	height: 0px;
	box-shadow: 0px 95px 300px 129px rgba(255,0,0,.1);
	background: rgba(255,0,0,0.79);
	opacity: 1;
}

#MessageAreaHitComp::before{
	content: "";
	display: block;
	position: absolute;
	top: 55%;
	right:10%;
	width: 1000px;
	box-shadow: 0px 95px 300px 129px rgba(255,0,0,1);
	opacity: 1;/*Элемент полностью прозрачный (невидимый)*/
	transition: .3s; /*Скорость перехода состояния элемента*/
	animation: show 1s 1; /* Указываем название анимации, её время и количество повторов*/
	animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
	animation-delay: 0s; /* Задержка перед началом */
}
#MessageAreaHit{
	font-size: 22px;
	position: absolute;
	top: 40%;
	display: block;
	text-align: center;
   font-size: 90px;
   font-family: 'Press Start 2P', cursive;
	letter-spacing: 20px;
	color: rgba(0,0,0, 1);
	width: 1000px;
	height: 0px;
	box-shadow: 0px 95px 300px 129px rgba(255,0,0,.1);
	background: rgba(30,0,255,.60);
	opacity: 1;
}
#MessageAreaHit::before{
	content: "";
	display: block;
	position: absolute;
	top: 55%;
	right:10%;
	width: 1000px;
	box-shadow: 0px 95px 300px 129px rgba(30,0,255,1);
	opacity: 1;/*Элемент полностью прозрачный (невидимый)*/
	transition: .3s; /*Скорость перехода состояния элемента*/
	animation: show 1s 1; /* Указываем название анимации, её время и количество повторов*/
	animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
	animation-delay: 0s; /* Задержка перед началом */
}






.button{
	width: 300px;
	margin: 0 auto;
	padding: 3px;
}

.hit{
   background: url(../img/krest.png) no-repeat;
	background-position: center center;
	background-size: cover;
	box-shadow: 0px 0px 0px 2px rgba(89, 43, 194, 0.9);
}

.miss{
	background: url(../img/dot.png) no-repeat;
	background-position: center center;
	background-size: cover;

}

.active{
	box-shadow: 0px 0px 0px 2px rgba(89, 43, 194, 0.9);
	
}



