body{
	padding:20px;
}
p.test{
	padding: 10px;
/*border: 2px solid black;*/	
	margin: 20px;
	box-shadow:  5px 5px 15px rgba(150, 150, 150, .7);
	width: 250px;
	max-height: 250px;
	overflow: auto;
}
p.test2{
	border: 2px solid red;
	background: green;
	border-radius:20px/30px;
	padding-left: 10px;

}

p.test strong{
	border: 1px solid red;
	display: inline-block;
	margin-top: 10px;
	
}
li{
	border: 2px solid red;
	display: inline;
}

h1{
text-shadow: 5px 5px 2px;
width:200px;
border:2px solid red;
padding: 15px;
margin: 15px;
border-width: 2px;
box-sizing: border-box;
	
}